{% form_theme form _self %}

{% block _ticket_entry_widget %}
    <div class="table-responsive">
    <table class="table table-bordered table-striped table-condensed">
        <tr>
            <td>{{ form_widget(form.tickets) }}</td>
        </tr>
    </table>
    </div>
{% endblock %}
