html, body {
    height: 100%;

}

body {
    position: relative;
    background-image: url("../pictures/musee_louvre.jpg");
    background-size: cover;
    background-attachment: fixed;
    z-index: 0;

}

#content {
    padding: 30px;
    opacity: .9;
    z-index: 1;
    min-height: 100%; /* 100% de la hauteur du view-port*/
    background: #e6eeff;
    width: 100%;
    margin: auto; /* Permet de centrer la div */
    margin-top: 30px;

}

#evidence {
    color: red;
}

#content h3 {
    text-align: center;
}

footer {
    opacity: .7;
    z-index: 1;
    text-align: center;
    background: #e6eeff;
}

.recap tr {
    border: 2px solid black;

}

.recap td {
    background-color: papayawhip;
}

.notice {
    color: red;
    font-style: italic;
}

#orderAmount {
    text-align: center;
    font-size: large;
}

#orderAmount strong {
    font-size: larger;
}

.ticket_title {
    display: table-cell;
    vertical-align: middle;
    width: 15px;
    font-size: 30px;
    padding: 0;
    box-shadow: 0 0 7px 2px black;
    background-color: cornsilk;

}

.ticket_input {
    box-shadow: 1px 0 5px 3px seagreen;

}

.ticket_title span {
    display: table;
    white-space: nowrap;
    transform: rotate(-90deg) translate(-100%, 0);
    transform-origin: 1.5em center;
}

.orderdone {
    text-align: center;
}

.Checkout.is-desktop .Header-loggedInEmail {
    color: red;
    font-weight: bold;

}

/*barre de progression*/
.trolley {
    width: 100%;
    margin: 7px auto;
}

.progress-meter {
    padding: 0;
}

ol.progress-meter {
    padding-bottom: 9.5px;
    list-style-type: none;
}

ol.progress-meter li {
    display: inline-block;
    text-align: center;
    text-indent: -19px;
    height: 36px;
    width: 24%;
    font-size: 12px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
}

ol.progress-meter li:before {
    position: relative;
    float: left;
    text-indent: 0;
    left: -webkit-calc(50% - 9.5px);
    left: -moz-calc(50% - 9.5px);
    left: -ms-calc(50% - 9.5px);
    left: -o-calc(50% - 9.5px);
    left: calc(50% - 9.5px);
}

ol.progress-meter li.done {
    font-size: 12px;
}

ol.progress-meter li.done:before {
    content: "\2713";
    height: 19px;
    width: 19px;
    line-height: 21.85px;
    bottom: -28.175px;
    border: none;
    border-radius: 19px;
}

ol.progress-meter li.todo {
    font-size: 12px;
}

ol.progress-meter li.todo:before {
    content: "\2B24";
    font-size: 17.1px;
    bottom: -26.95px;
    line-height: 18.05px;
}

ol.progress-meter li.done {
    color: black;
    border-bottom-color: yellowgreen;
}

ol.progress-meter li.done:before {
    color: white;
    background-color: yellowgreen;
}

ol.progress-meter li.todo {
    color: silver;
    border-bottom-color: silver;
}

ol.progress-meter li.todo:before {
    color: silver;
}
