{% extends "::layout.html.twig" %}
{% block body %}
    <div style="text-align: center;">
        <img src="{{ asset('app/pictures/erreur404.jpg') }}" alt="page inexistante" width="800"/>
    </div>
{% endblock %}
