{% extends "::layout.html.twig" %}

{% block title %}reservation{% endblock %}

{% block body %}
  formulaire de réservation
  <h3>Formulaire d'annonce</h3>

  <div class="well">
      {{ form(form) }}
  </div>
{% endblock %}